<app-search-input [defaultSearchInput]="searchTerm" label="Search characters by name" (searchTermChange)="filterCharacters($event)"/>
<div class="container" *ngIf="characters | async as characters; else loading">
    <div class="list">
        <div
            class="list-item"
            (click)="goToDetails(character.id)"
            role="listitem"
            *ngFor="let character of characters; trackBy: trackBy">
            {{ character.name }}
            <button
                (click)="toggleFavorite($event, character.id)"
                mat-icon-button
                [color]="character.isFavorite ? 'warn' : 'primary'"
                aria-label="Button for putting character to favorites">
                <mat-icon
                    [class]="character.isFavorite ? 'favorite' : 'not-favorite'"
                    >$</mat-icon
                >
            </button>
        </div>
    </div>
    <mat-paginator
        class="paginator"
        [length]="charactersService.charactersCount$ | async"
        [pageSize]="10"
        [pageIndex]="pageIndex"
        (page)="changePage($event)"
        aria-label="Select characters page" />
</div>
<ng-template #loading>
    <app-loading-spinner />
</ng-template>
